* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(135deg, rgb(255, 196, 217, 1) 20%, rgb(54, 197, 240, 1) 80%);
}